<html>
    <body>
        <a href="http://localhost:3007/listCountries">List Countries</a><br>
        <a href="http://localhost:3007/listCities">List Cities</a><br>
        <a href="http://localhost:3007/listHeadsOfState">List Heads of State</a><br>
    </body>
</html>